body {
    font-family: Montserrat, Arial, sans-serif;
    margin: 1rem;
}

h1 {
    font-family: "Barlow Condensed", Arial, sans-serif;
    font-weight: bold;
    color: darkslategray;
}

.fa-shoe-prints {
    color: rgba(47,79,79,.5);
}

h3 {
    font-family: Domine, serif;
    font-weight: lighter;
    font-style: italic;
    color: darkslategray;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav {
    background-color: rgba(47,79,79,.1);
    padding: 10px 20px;
}

nav a {
    color: indigo;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

nav a:hover {
    color: darkorchid;
}

article {
    padding: 20px 30px;
}

h2 {
    color: rgba(47,79,79,.8);
}

ul li {
    font-size: 1.1em;
    box-sizing: border-box;
    height: 14rem;
    width: 14rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul li a {
    font-size: 0.8em;
}

li a:visited {
    color: darkblue;
  }

 li a:hover {
    color: blue
}

img {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgba(47,79,79,.2)
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

footer {
    font-size:small;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.about-picture {
    border-radius: 60%;
    box-shadow: 0 0 2px 1px rgba(47,79,79,.2);
    margin: 1rem;
}